extends layout.pug

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Add Recipe:

        // add recipe form
        form(method='POST' action='/recipes/add')
          div.form-group
            select(name="category")
              option(value='pierogi') Pierogi
              option(value='soups') Soups
          div.form-group
            label(for='title') Title:
            input#email.form-control(type='text', placeholder='Yummy Recipe' name='title')
          div.form-group
            label(for='ingredients') Ingredients:
            textarea#favoriteBook.form-control(placeholder='Add Your Ingredients' name='ingredients')
          div.form-group
            label(for='instructions') Instructions:
            textarea#pw.form-control(placeholder='Add Your Instructions' name='instructions')
          button.btn.btn-primary(type='submit') Add