extends layout.pug

block content
		section#content
			h2= title
				ul
					each ingredient in ingredients
						li= ingredient

			h3= header
				ul
					each instruction in instructions
						li= instruction
			