extends layout.pug

block content
	div.container.main.container.text-xs-center
		div.row
			div.col-xs-12
				section#content
					h2= category
					a(href='/') Home
					br
					ul.list-style
						each item, index in items
							a(href=`/recipes/${category}/${index}`)= item.title
							br